footer {
    border-top: 1px solid #e6e5e1;
    border-bottom: 1px solid #e6e5e1;
    padding: 25px 0;
}

.footer-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.over-info {
    width: 39.9145%;
    display: flex;
    flex-direction: column;
}

.over-info-logo {
    width: 25.6859%;
    margin-bottom: 13px;
}

.over-info-p {
    color:  #888890;
    @include remCalc(14);
    font-weight: 400;    
}

.footer-contact {
    color:  #1a1a26;
    @include remCalc(14);
    font-weight: 700;
    margin: 5px 0;
}

.footer-contact span {
    color:  #888890;
    font-weight: 400;
}

.footer-nav-social {
    width: 50.5353%;
}

.footer-nav-social-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}

.footer-nav-social-menu .fa {
    color: #1a1a26;
}

.footer-nav-social-menu .fa:hover {
    color:  #888890;
}

.footer-item-title {
    color:  #1a1a26;
    @include remCalc(24);
    font-weight: 400;
}

.footer-item-title span {
    display: block;
    border-bottom: 2px solid  #a8edea;
    width: 40px;
}

.footer-item-services {
    width: 14.9914%;
}

.footer-item-account {
    width: 14.5897%;
}

.footer-item-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}

.footer-item-menu li a {
    color:  #888890;
    @include remCalc(14);
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.8s;
    border-bottom: 1px solid transparent;
}

.footer-item-menu li a:hover {
    color: #000000;
    border-bottom: 1px solid #000000;
}

.footer-item-instagram {
    width: 23.0769%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-item-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item-gallery-img {
    width: 31.1111%;
    margin-bottom: 10px;
}

.footer-item-gallery-img img {
    width: 100%;
    display: block;
}

.footer-payment-gallery {
    width: 85.9259%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 14.6551%;
    
}


.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:  #888890;
    @include remCalc(14);
}

.footer-bottom span {
    color:  #1a1a26;
}
