.nav-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    width:33.3333%;
    justify-content: space-between;
    padding: 0;
}

.nav-header li {
    list-style: none;
}

.nav-header li a {
    text-decoration: none;
    text-transform: uppercase;
    color:  #1a1a26;
    @include remCalc(14);
    font-weight: 700;
    transition: border-bottom 2s, color 1s;
}

.nav-header li a:hover {
    color: #888890;
    border-bottom: 1px solid red;
}

.logo {
    width: 33.3333%;
    height: 28px;
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 30.7692%;
}

.shop-menu {
    width: 33.3333%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shop-menu-item {
    width: 24px;
    height: 24px;
    margin-left: 25px;
}

.shop-bag {
    position: relative;
}

.shop-menu-eclipse {
    border-radius: 50%;
    background-color:  #a8edea;
    width: 18px;
    height: 18px;
    position: absolute;
    @include remCalc(8);
    top: -5px;
    right: -5px;
    text-align: center;
    display: none;
}

.shop-menu-eclipse p {
    margin: 3px auto auto;
}