article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// MEDIA QUERIES AT BOTTOM


@mixin remCalc($fontSize) {
   font-size: ($fontSize / 16) * 1rem;
}

@import "components/header";
@import "components/footer";
@import "components/slider";
@import "components/main";

@font-face { font-family: PressStyle; src: url('PressStyle.woff');
} 

body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}



.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

//Make the partial
//Save the partial
//Delete the partial
//Import the partial
//Save style.scss


@media (max-width: 1151px) {

    .price {
        @include remCalc(16);
    }
    .price span {
        @include remCalc(12);
    }
}

@media (max-width: 1140px) {
    .footer-item-services {
        width: 20%;
    }

    .footer-item-account {
        width: 18%;
    }

    .over-info {
        width: 35.9145%;
    }
    .video-text {
        width: 60%;
    }
    
}



@media (max-width: 1036px) {
    .product-info {
        @include remCalc(12);
    }

    .price {
        @include remCalc(14);
    }
    .price span {
        @include remCalc(10);
    }

    

}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .video-text{
        width: 74%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    .wrapper {
        width: 98%;
    }

    .nav-header {
        flex-wrap: wrap;
    }

    .nav-menu,
    .shop-menu { 
        width: 50%
    }

    .nav-menu {
        margin-top: 0;
    }

    .shop-menu {
        padding-bottom: 15px;
        padding-right: 5px;
    }

    .nav-header li a {
        @include remCalc(12);
    }

    .logo {
        width: 100%;
        order: -1;
    }

    .logo-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .slider {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .slider h3 {
        @include remCalc(16);
    }

    .slider h1 {
        @include remCalc(30);
    }

    .slider-arrow {
        width: 80%;
    }

    .shop-btn {
        width: 90px;
        height: 30px;
        color:  #ffffff;
        @include remCalc(8);
        line-height: 30px;
    }

    .slider-bullets {
        margin-top: 5px;
        margin-bottom: 10px;
        width: 15%;
    }

    .slider-bullet img {
        width: 10px;
        height: 10px;
    }

    .intro {
        margin-top: 25px;
    }

    .intro-title h3 {
        @include remCalc(10);
        color:  #1e1e2a;
    }

    .intro-title h2 {
        @include remCalc(24);
        margin-bottom: 0;
    }

    .intro-text  {
        @include remCalc(12);
    }

    .intro h4 {
    @include remCalc(12);
    margin-top: 0;
    }

    .intro span {
        @include remCalc(11);
    }

    .categories-gallery {
    margin-top: 25px;
    }

    .plant-text h3 {
        @include remCalc(16);
    }

    .plant-text h4 {
        @include remCalc(12);
    }

    .plant-text {
        top: 92%;
        background: none;
    }

    .plants-air .plant-text {
        top: 96%;
    }

     .plant-text h3 {
         @include remCalc(11);
        display: inline-block;
        margin: 0;
    }

    .plant-text h4 {
        @include remCalc(9);
        display: inline-block;
        margin: 0;
    }

    .plants-air:hover .plant-text,
    .plants-office:hover .plant-text,
    .plants-house:hover .plant-text,
    .plants-containers:hover .plant-text, {
        background: white;
        border: 1px solid black;
    }

    .plant-text:hover {
        background: white;
        border: 1px solid black;
    }

    .plant-text-air,
    .plant-text-office,
    .plant-text-house,
    .plant-text-container {
        width: 100%;
    }

    .popular-products h2 {
        @include remCalc(24);
        margin-bottom: 10px;
    }

    .underline {
        margin-bottom: 5px;
    }

    .products-filter {
    margin-bottom: 10px;
    }


    .products-filter ul li {
        @include remCalc(12);
    }

    .product-gallery {
        justify-content: space-between;
    }

    .product {
    width: calc((100% / 3) - 10px);
    }

    .first-new {
        top: 16%;
    }

    .testimonials-video {
        margin-top: 25px;
    }

    .testimonial-bullets {
    width: 20%;
    }

    .testimonial-bullet {
    width: 20px;
    height: 20px;
    }

    .bullet-grey {
    width: 40px;
    height: 40px;
    }

    .blog {
        margin-top: 25px;
    }

    .blog h2 {
        @include remCalc(24);
    }

    .blog-details p {
        @include remCalc(12);
    }

    .blog-details p:nth-child(2) {
        @include remCalc(14);
    }

    .blog-details a {
        @include remCalc(12);
    }

    .testimonials,
    .video {
        width: 100%;
    }

    .subscribe h2 {
        @include remCalc(24);
    }

    .luigiano {
        display: none;
    }

    .footer-top {
        flex-wrap: wrap;
    }

    .over-info {
        width: 100%;
        text-align: justify;
        order: 4; 
    }

    .footer-item-services,
    .footer-item-account,
    .footer-item-instagram {
        width: 33.3333%;
    }

    .footer-bottom {
        @include remCalc(12);
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {

    .wrapper {
        width: 90%;
    }
    .nav-menu,
    .shop-menu { 
        width: 100%;
    }

    .shop-menu {
        justify-content: space-between;
        padding: 0;
        margin: 10px 0;
    }

    .shop-menu-item {
        margin: 0;
    }

    .nav-menu {
        order: 2;
        flex-direction: column;
        align-items: center;
    }

    .nav-header li  {
        width: 100%;
    }

    .nav-header li a {
        display: block;
        background-color: white;
        text-align: center;
        transition: color 2s, background-color 1s;
    }

    .nav-header li a:hover {
        background-color: black;
        color: white;
    }


    .plant-text {
        background: white;
        border: 1px solid black;
        top: 85%;
    }

    .plant-text h3 {
        @include remCalc(10);
        display: inline-block;
        margin: 0;
    }

    .plant-text h4 {
        @include remCalc(8);
        display: inline-block;
        margin: 0;

    }

    .plant-text-air {
        top: 85%;
    }

    .products-filter {
        width: 50%;
    }

    .product {
    width: calc((100% / 2) - 10px);
    }

    .product-overlay {
    display: block;
    background: none;
    }

    .button-cart {
        display: block;
    }

    .video-text {
    width: 65%;
    }

    .video-overlay {
    display: block;
    }

    .testimonial-bullet {
    width: 10px;
    height: 10px;
    }

    .bullet-grey {
    width: 20px;
    height: 20px;
    }

    .video-text {
    width: 70%;
    }

    .blog-gallery {
        flex-wrap: wrap;
    }

    .blog-entry {
        width: 45%;
        margin-bottom: 15px;
    }


    .yorkshire,
    .sears {
        display:none;
    }

    .footer-item-services,
    .footer-item-account {
        width: 50%;
    }
    .footer-item-instagram {
        width: 100%;
    }


    .over-info {
    margin-top: 25px;
    }

}