article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nav-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3333%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0; }

.nav-header li {
  list-style: none; }

.nav-header li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1a1a26;
  font-size: 0.875rem;
  font-weight: 700;
  -webkit-transition: border-bottom 2s, color 1s;
  -o-transition: border-bottom 2s, color 1s;
  transition: border-bottom 2s, color 1s; }

.nav-header li a:hover {
  color: #888890;
  border-bottom: 1px solid red; }

.logo {
  width: 33.3333%;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.logo-img {
  width: 30.7692%; }

.shop-menu {
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.shop-menu-item {
  width: 24px;
  height: 24px;
  margin-left: 25px; }

.shop-bag {
  position: relative; }

.shop-menu-eclipse {
  border-radius: 50%;
  background-color: #a8edea;
  width: 18px;
  height: 18px;
  position: absolute;
  font-size: 0.5rem;
  top: -5px;
  right: -5px;
  text-align: center;
  display: none; }

.shop-menu-eclipse p {
  margin: 3px auto auto; }

footer {
  border-top: 1px solid #e6e5e1;
  border-bottom: 1px solid #e6e5e1;
  padding: 25px 0; }

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.over-info {
  width: 39.9145%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.over-info-logo {
  width: 25.6859%;
  margin-bottom: 13px; }

.over-info-p {
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400; }

.footer-contact {
  color: #1a1a26;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 5px 0; }

.footer-contact span {
  color: #888890;
  font-weight: 400; }

.footer-nav-social {
  width: 50.5353%; }

.footer-nav-social-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
  list-style: none; }

.footer-nav-social-menu .fa {
  color: #1a1a26; }

.footer-nav-social-menu .fa:hover {
  color: #888890; }

.footer-item-title {
  color: #1a1a26;
  font-size: 1.5rem;
  font-weight: 400; }

.footer-item-title span {
  display: block;
  border-bottom: 2px solid  #a8edea;
  width: 40px; }

.footer-item-services {
  width: 14.9914%; }

.footer-item-account {
  width: 14.5897%; }

.footer-item-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  list-style: none; }

.footer-item-menu li a {
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize; }

.footer-item-instagram {
  width: 23.0769%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-item-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-item-gallery-img {
  width: 31.1111%;
  border: 1px solid #888890;
  margin-bottom: 10px; }

.footer-item-gallery-img img {
  width: 100%;
  display: block; }

.footer-payment-gallery {
  width: 85.9259%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.card {
  width: 14.6551%; }

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #888890;
  font-size: 0.875rem; }

.footer-bottom span {
  color: #1a1a26; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("../assets/anna-111431.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 115px; }

.slider h3 {
  color: #888890;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 0; }

.slider h1 {
  color: #1d1d29;
  font-size: 3.75rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 0; }

.slider-arrow {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 50%; }

.slider-title {
  text-align: center; }

.shop-btn {
  background-color: #f07f84;
  width: 180px;
  height: 60px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.shop-btn:hover {
  background-color: #ca4e54;
  color: black; }

.slider-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.0625%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 15px; }

.slider-bullet {
  width: 18%;
  height: 12px;
  margin: 0 5px; }

.intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 50px; }

.intro-title {
  background-image: url("../assets/plant.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10px; }

.intro-title h3 {
  color: #a8edea;
  font-size: 1.125rem;
  margin: 0; }

.intro-title h2 {
  color: #1e1e2a;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 0; }

.intro-text {
  width: 65.8119%;
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center; }

.intro h4 {
  color: #1e1e2a;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 400; }

.intro span {
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  font-style: italic; }

.categories-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px; }

.plants-air {
  width: 40.1709%;
  position: relative; }

.plants-air img,
.plants-office img,
.plants-house img,
.plants-containers img {
  width: 100%;
  display: block; }

.plant-text {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.plant-text h3 {
  color: #1a1a26;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0; }

.plant-text h4 {
  color: #888890;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0; }

.plant-text-air {
  width: 44.6608%; }

.plant-text-office,
.plant-text-house {
  width: 68.75%; }

.plant-text-container {
  width: 37.3134%; }

.plants-side {
  width: 57.2649%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.plants-office,
.plants-house {
  width: 47.7611%;
  position: relative; }

.plants-containers {
  width: 100%;
  position: relative; }

.popular-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.popular-products h2 {
  color: #1a1a26;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 15px; }

.underline {
  width: 10.2564%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.underline span {
  width: 33.3333%;
  border-bottom: 2px solid #a8edea;
  display: inline-block;
  margin: 0; }

.underline span:nth-child(2) {
  border-bottom: 2px solid #f5efef; }

.products-filter {
  width: 38.5897%;
  margin-bottom: 15px; }

.products-filter ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0; }

.products-filter ul li {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 400; }

.products-filter ul li a {
  text-decoration: none;
  color: #1a1a26;
  text-transform: capitalize;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.products-filter ul li a:hover {
  border-bottom: 1px solid black; }

.product-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.product {
  min-width: calc((100% / 5) - 20px);
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  position: relative; }

.product-info {
  color: #1a1a26;
  font-size: 0.875rem;
  font-weight: 400; }

.price {
  color: #1a1a26;
  font-size: 1.125rem;
  font-weight: 400; }

.price span {
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: line-through; }

.product-ribbon-featured,
.product-ribbon-sale,
.product-ribbon-new {
  width: 22.0476%;
  height: 20px;
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 99;
  border-radius: 50px;
  margin: 0; }

.product-ribbon-featured p,
.product-ribbon-sale p,
.product-ribbon-new p {
  color: #fefeff;
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 0; }

.product-ribbon-featured {
  background-color: #ff9a9e; }

.product-ribbon-sale {
  background-color: #f6b895; }

.product-ribbon-new {
  background-color: #79dad6; }

.first-new {
  top: 12%; }

.product-image {
  position: relative; }

.product-image img {
  width: 100%;
  display: block; }

.product-overlay {
  display: none;
  background: rgba(26, 26, 38, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.product:hover .product-overlay,
.product:hover .button-cart {
  display: block; }

.button-cart {
  background-color: #ffffff;
  width: 120px;
  height: 40px;
  color: #888890;
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  z-index: 1;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.testimonials-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 75px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.outer-wrapper {
  margin: 0 auto;
  max-width: 1920px; }

.testimonials,
.video {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 80px; }

.testimonials {
  background-image: url("../assets/Shape BG.png");
  background-repeat: no-repeat;
  background-position: cover; }

.testimonials h2 {
  color: #1a1a26;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: capitalize; }

.quote {
  width: 5.7291%; }

.testimonial-text {
  width: 75.4166%;
  color: #1a1a26;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic; }

.testimonial-text p:nth-child(2) {
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  font-style: none; }

.testimonial-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28.0625%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.testimonial-bullet {
  width: 40px;
  border-radius: 50%;
  background-color: #888890;
  height: 40px; }

.bullet-grey {
  width: 60px;
  height: 60px; }

.video {
  background-image: url("../assets/daria-shevtsova-57355.png");
  background-repeat: no-repeat;
  background-position: contain;
  position: relative; }

.video-overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 38, 0.5); }

.video:hover .video-overlay {
  display: block; }

.play-icon {
  margin-bottom: 30px; }

.play-icon,
.video-text {
  z-index: 99; }

.eclipse {
  border-radius: 50%;
  background-color: rgba(255, 154, 158, 0.3);
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.red-cirle {
  border-radius: 50%;
  background-color: #f07f84;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fa {
  color: white;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400; }

.video-text {
  width: 49.5833%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.video-text h2 {
  font-family: PressStyle;
  color: #ffffff;
  font-size: 3.125rem;
  text-transform: uppercase;
  width: 35.9243%;
  margin: 0; }

.video-text h2:nth-child(2) {
  width: 29.6218%; }

.video-text-img {
  width: 26.4705%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.video-text h3 {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 0; }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px; }

.blog h2 {
  color: #1a1a26;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 15px; }

.blog-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px; }

.blog-entry {
  width: 31.6239%; }

.blog-img img {
  width: 100%;
  display: block; }

.blog-details p {
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400; }

.blog-details p:nth-child(2) {
  color: #1a1a26;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

.blog-details a {
  color: #1a1a26;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none; }

.blog-details a:hover {
  border-bottom: 2px solid lightgrey; }

.subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.subscribe h2 {
  color: #1a1a26;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: capitalize; }

.subscribe p {
  width: 48.1196%;
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400; }

form {
  width: 71.7948%;
  margin-top: 25px; }

form .fa {
  color: black;
  left: 98%;
  top: 10%;
  position: absolute; }

.subscribe-email {
  position: relative; }

[type=email] {
  width: 100%;
  color: #888890;
  font-size: 0.875rem;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #e6e5e1; }

.partners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 50px 0; }

.partner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@font-face {
  font-family: PressStyle;
  src: url("PressStyle.woff"); }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 100%; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

@media (max-width: 1151px) {
  .price {
    font-size: 1rem; }
  .price span {
    font-size: 0.75rem; } }

@media (max-width: 1140px) {
  .footer-item-services {
    width: 20%; }
  .footer-item-account {
    width: 18%; }
  .over-info {
    width: 35.9145%; }
  .video-text {
    width: 60%; } }

@media (max-width: 1036px) {
  .product-info {
    font-size: 0.75rem; }
  .price {
    font-size: 0.875rem; }
  .price span {
    font-size: 0.625rem; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .video-text {
    width: 74%; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 98%; }
  .nav-header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .nav-menu,
  .shop-menu {
    width: 50%; }
  .nav-menu {
    margin-top: 0; }
  .shop-menu {
    padding-bottom: 15px;
    padding-right: 5px; }
  .nav-header li a {
    font-size: 0.75rem; }
  .logo {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .logo-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .slider {
    padding-top: 0px;
    padding-bottom: 0px; }
  .slider h3 {
    font-size: 1rem; }
  .slider h1 {
    font-size: 1.875rem; }
  .slider-arrow {
    width: 80%; }
  .shop-btn {
    width: 90px;
    height: 30px;
    color: #ffffff;
    font-size: 0.5rem;
    line-height: 30px; }
  .slider-bullets {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 15%; }
  .slider-bullet img {
    width: 10px;
    height: 10px; }
  .intro {
    margin-top: 25px; }
  .intro-title h3 {
    font-size: 0.625rem;
    color: #1e1e2a; }
  .intro-title h2 {
    font-size: 1.5rem;
    margin-bottom: 0; }
  .intro-text {
    font-size: 0.75rem; }
  .intro h4 {
    font-size: 0.75rem;
    margin-top: 0; }
  .intro span {
    font-size: 0.6875rem; }
  .categories-gallery {
    margin-top: 25px; }
  .plant-text h3 {
    font-size: 1rem; }
  .plant-text h4 {
    font-size: 0.75rem; }
  .plant-text {
    top: 92%;
    background: none; }
  .plants-air .plant-text {
    top: 96%; }
  .plant-text h3 {
    font-size: 0.6875rem;
    display: inline-block;
    margin: 0; }
  .plant-text h4 {
    font-size: 0.5625rem;
    display: inline-block;
    margin: 0; }
  .plants-air:hover .plant-text,
  .plants-office:hover .plant-text,
  .plants-house:hover .plant-text,
  .plants-containers:hover .plant-text {
    background: white;
    border: 1px solid black; }
  .plant-text:hover {
    background: white;
    border: 1px solid black; }
  .plant-text-air,
  .plant-text-office,
  .plant-text-house,
  .plant-text-container {
    width: 100%; }
  .popular-products h2 {
    font-size: 1.5rem;
    margin-bottom: 10px; }
  .underline {
    margin-bottom: 5px; }
  .products-filter {
    margin-bottom: 10px; }
  .products-filter ul li {
    font-size: 0.75rem; }
  .product-gallery {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .product {
    width: calc((100% / 3) - 10px); }
  .first-new {
    top: 16%; }
  .testimonials-video {
    margin-top: 25px; }
  .testimonial-bullets {
    width: 20%; }
  .testimonial-bullet {
    width: 20px;
    height: 20px; }
  .bullet-grey {
    width: 40px;
    height: 40px; }
  .blog {
    margin-top: 25px; }
  .blog h2 {
    font-size: 1.5rem; }
  .blog-details p {
    font-size: 0.75rem; }
  .blog-details p:nth-child(2) {
    font-size: 0.875rem; }
  .blog-details a {
    font-size: 0.75rem; }
  .testimonials,
  .video {
    width: 100%; }
  .subscribe h2 {
    font-size: 1.5rem; }
  .luigiano {
    display: none; }
  .footer-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .over-info {
    width: 100%;
    text-align: justify;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .footer-item-services,
  .footer-item-account,
  .footer-item-instagram {
    width: 33.3333%; }
  .footer-bottom {
    font-size: 0.75rem; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .wrapper {
    width: 90%; }
  .nav-menu,
  .shop-menu {
    width: 100%; }
  .shop-menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0; }
  .shop-menu-item {
    margin: 0; }
  .nav-menu {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav-header li {
    width: 100%; }
  .nav-header li a {
    display: block;
    background-color: white;
    text-align: center;
    -webkit-transition: color 2s, background-color 1s;
    -o-transition: color 2s, background-color 1s;
    transition: color 2s, background-color 1s; }
  .nav-header li a:hover {
    background-color: black;
    color: white; }
  .plant-text {
    top: 85%;
    background: none; }
  .plant-text:hover {
    background: white; }
  .plant-text h3 {
    font-size: 0.625rem;
    display: inline-block;
    margin: 0; }
  .plant-text h4 {
    font-size: 0.5rem;
    display: inline-block;
    margin: 0; }
  .plant-text-air {
    top: 85%; }
  .products-filter {
    width: 50%; }
  .product {
    width: calc((100% / 2) - 10px); }
  .video-text {
    width: 65%; }
  .testimonial-bullet {
    width: 10px;
    height: 10px; }
  .bullet-grey {
    width: 20px;
    height: 20px; }
  .video-text {
    width: 70%; }
  .yorkshire {
    display: none; }
  .footer-item-services,
  .footer-item-account,
  .footer-item-instagram {
    width: 50%; }
  .over-info {
    margin-top: 25px; } }
